html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding-bottom: 50px; /* height of the footer */
    min-height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to bottom right, #cfd8dc, #aac4c9, #90c0d3, #6c909d);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* adjust the height as needed */
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 50px;
    left: 0;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
    background-color: #76767c;
    color: #fff;
    border-color: #726b6b;
}

.btn-primary:hover {
    background-color: #4e5152;
    color: #fff;
    border-color: #9ea7aa;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(207, 216, 220, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #cfd8dc;
    color: #fff;
    border-color: #cfd8dc;
}

.logo {
    animation: rotateLogo 8s linear infinite;
    transform-style: preserve-3d;
}

.logo-container {
    margin-top: -50px;
}

@keyframes rotateLogo {
    0% {
        transform: rotate3d(1, 0, 0, 0) rotate3d(0, 1, 0, 0) rotate3d(0, 0, 1, 0);
    }
    100% {
        transform: rotate3d(1, 0, 0, 1turn) rotate3d(0, 1, 0, 1turn) rotate3d(0, 0, 1, 1turn);
    }
}

.smaller-input {
    width: 50%;
    margin: 0 auto;
}

.square-container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 330px;
    border: 1px solid rgba(114, 110, 110, 0.3);
    border-radius: 10px;
    margin: 0 auto;
}

.square-container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    width: 400px;
    border: 1px solid rgba(114, 110, 110, 0.3);
    border-radius: 10px;
    margin: 0 auto;
}

.square-container-ehr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    width: 350px;
    border: 1px solid rgba(114, 110, 110, 0.3);
    border-radius: 10px;
    margin: 0 auto;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

button.btn-success {
    margin-top: 10px;
}

.required-label::after {
    content: " *";
    color: red;
}
